# Default
uvicorn
gunicorn
fastapi
uvloop
httptools
pydantic[dotenv]==1.10
python-dotenv
starlette
loguru
requests

# Database
dnspython
pymongo

# Other
minio

# Entrypoint
pandas
matplotlib
seaborn
beanie
uuid
python-keycloak==2.6.0 