uvicorn
gunicorn
fastapi
uvloop
httptools
pydantic[dotenv]
python-dotenv
starlette
loguru
torchtext
torch
matplotlib
torchmetrics
seaborn
torchvision
pytorch-lightning
minio
pymongo
opencv-python
scikit-learn