.modal-box {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #ffffff;
  border: 4px solid #ffffff;
  box-shadow: 24px;
  color: #080000;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  top: 50%;
  left: 50%;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: #e6dfdf;
  -webkit-tap-highlight-color: transparent;
  z-index: -1;
}
